html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 80%;
}

body {
  margin-bottom: 60px;
}

form input span{
    display: block;
}

.btn-self {
    background-color: #ffad2b;
}

.btn-send {
    color: black;
}

.rounded-5 {
    border-radius: 5% !important;
}

.rounded-4 {
    border-radius: 15px !important;
}

