<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <div class="nav row">
                        <img src="~/image/logo.png" height="30" width="30" class="col" alt="Лого"/>
                        <p class="col text-dark m-0">ХранительПРО</p>
                    </div>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">
                        <img src="~/image\user.png" width="30" height="30" alt="Авторизация" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            <p>&copy; 2023 - TestWebApp</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
